@model Lms.Models.ViewModels.CourseEditViewModel;

@{
    ViewData["Title"] = "EditCource";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-2">

    <h3>ویرایش درس</h3>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="col-8">
            <div>
                @if (@ViewBag.ResultMessageEditCourse != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.ResultMessageEditCourse
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <form class="form container" asp-action="EditCource" asp-controller="Admin" method="post" autocomplete="off">

                    <div class="form-group">
                        <label asp-for="Name">نام درس</label>
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="College">دانشکده</label>
                        <input type="text" class="form-control" asp-for="College">
                        <span asp-validation-for="College" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="MasterId">استاد</label>
                        <select class="form-control" asp-for="MasterId" >
                            @foreach(var item in Model.Masters)
                            {
                                if(item.Id == Model.MasterId.ToString())
                                {
                                    <option selected value="@item.Id">@item.Name</option>
                                }
                                else{
                                    <option  value="@item.Id">@item.Name</option>

                                }
                            }
                        </select>
                        <span asp-validation-for="MasterId" class="text-danger"></span>

                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-success col-6">ویرایش درس</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<style>
    .form-group {
        margin-top: 20px;
    }

</style>

